.lys-dialog_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  z-index: 2001;
  background-color: rgba(0, 0, 0, 0.5);
  .lys-dialog {
    position: relative;
    // 1vh等于视口高度的1%
    margin: 15vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 30%;
    &_header {
      padding: 20px 20px 10px;
      .lys-dialog_title {
        line-height: 24px;
        font-size: 18px;
        color: #303133;
      }
      .lys-dialog_headerbtn {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        .lys-icon-close {
          color: #909399;
        }
      }
    }
    &_body {
      padding: 30px 20px;
      color: #606266;
      font-size: 14px;
      // 允许在单词内换行
      word-break: break-all;
    }
    &_footer {
      padding: 10px 20px 20px;
      text-align: right;
      box-sizing: border-box;
      // 深度作用选择器，解决scope下后代选择器无法深度选择的问题
      ::v-deep .lys-button:first-child {
        margin-right: 20px;
      }
    }
  }
}
@keyframes display {
  0% {
    opacity: 0;
    transform: translate3d(0, -15%, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate3d(0, -10%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.dialog-fade-enter-active {
  animation: display 0.3s;
}
.dialog-fade-leave-active {
  animation: display 0.3s reverse;
}